.git
.gitignore
.gitattributes
.editorconfig
node_modules
npm-debug.log
yarn-error.log
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
Homestead.json
Homestead.yaml
/.fleet
/.idea
/.nova
/.vscode
/.zed
/vendor
/storage/app/backups
/storage/*.key
/storage/pail
/bootstrap/ssr
*.md
!README.md
docker-compose.yml
Dockerfile
.dockerignore
tests
.DS_Store
auth.json
public/storage

